[all]
172.20.0.101 ansible_port=22 ansible_user=root ansible_password=vagrant
172.20.0.102 ansible_port=22 ansible_user=root ansible_password=vagrant
172.20.0.103 ansible_port=22 ansible_user=root ansible_password=vagrant