[all]
11.11.11.11 ansible_port=22 ansible_user=root ansible_password=vagrant
11.11.11.12 ansible_port=22 ansible_user=root ansible_password=vagrant
11.11.11.13 ansible_port=22 ansible_user=root ansible_password=vagrant
